.btn{
    padding: 0;
    padding: 14px 39px;
    background: #FCB72B;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    margin-left: auto;
    white-space: nowrap;
}

