.sign-up{
    padding-top: 102px;
    padding-bottom: 102px;
    width: 100%;
    background-color:#495567;
    background-image: url(../../img/Group-select.png);
    background-repeat: no-repeat;
    background-position: bottom right;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__heading{
        max-width: 415px;
        min-height: 96px;
        margin: 0;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #fff;
    }

    &__button{
        margin-left: auto;
        display: flex;
    }

    &__link{
        margin-right: 18px;
        width: 159px;
        height: 56px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 8px 16px 9px 16px;
        background-color: #E5ECF4;
        text-decoration: none;
        border-radius: 4px;

        .appstore{
            margin: 0;
            font-weight: bold;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: -0.446429px;
            color: #495567;
        }

        .iphone{
            margin: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.892857px;
            color: #495567;
        }
    }

    &__link-2{
        width: 182px;
        height: 56px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 8px 16px 9px 16px;
        background-color: #E5ECF4;
        text-decoration: none;
        border-radius: 4px;


        .appstore{
            margin: 0;
            font-weight: bold;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: -0.446429px;
            color: #495567;
        }

        .iphone{
            margin: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.892857px;
            color: #495567;
        }
    }
}

.footer2{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 32px;
    background-color: #333A44;

    &__container{
        display: flex;
        align-items: center;
    }
    &__logo{
        margin-right: 58px;
    }

    &__logo:hover{
        opacity: 0.6;
    }
    
    &__list{
        padding: 0;
        display: flex;
        list-style: none;
        margin: 0 -15px;
    }

    &__item{
        margin: 0 15px;
    }

    &__link{
        margin: 0;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }

    &__link:hover{
        color: #FCB72B;
    }


    &__lists{
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0 -12px;
        margin-left: auto;
    }

    &__items{
        margin: 0 12px;
    }

    &__links{
        text-decoration: none;
        color:  #FCB72B;
    }

    &__links:hover path{
        fill: #E5ECF4;
    }
}