.sign-up{
    padding-top: 102px;
    padding-bottom: 102px;
    width: 100%;
    background-color:#495567;
    background-image: url(../../img/Group-select.png);
    background-repeat: no-repeat;
    background-position: bottom right;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__heading{
        max-width: 415px;
        min-height: 96px;
        margin: 0;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #fff;
    }

    &__button{
        margin-left: auto;
        display: flex;
    }

    &__link{
        margin-right: 18px;
        width: 159px;
        height: 56px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 8px 16px 9px 16px;
        background-color: #E5ECF4;
        text-decoration: none;
        border-radius: 4px;

        .appstore{
            margin: 0;
            font-weight: bold;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: -0.446429px;
            color: #495567;
        }

        .iphone{
            margin: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.892857px;
            color: #495567;
        }
    }

    &__link-2{
        width: 182px;
        height: 56px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 8px 16px 9px 16px;
        background-color: #E5ECF4;
        text-decoration: none;
        border-radius: 4px;


        .appstore{
            margin: 0;
            font-weight: bold;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: -0.446429px;
            color: #495567;
        }

        .iphone{
            margin: 0;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.892857px;
            color: #495567;
        }
    }
}


@media only screen and (max-width: 768px){
    .sign-up{
        &__container{
            margin-left: 0;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
    
        &__heading{
            margin-bottom: 40px;
        }

        &__button{
            margin: 0;
        }


    }
   
}

@media only screen and (max-width: 449px){
    .sign-up{

        &__heading{
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.42857px;
        }
        &__link{
            padding: 8px 11px 6px 11px;
            width: 130px;
            height: 40px;

            .appstore{
                white-space: nowrap;
                font-size: 10px;
                line-height: 15px;
            }
    
            .iphone{
                font-size: 16px;
                line-height: 20px;
            }
        }

        &__link-2{
            width: 130px;
            height: 40px;

            
        .appstore{
            font-size: 10px;
            line-height: 15px;
        }

        .iphone{
            margin: 0;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
        }
        }
    }
}



.footer2{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 32px;
    background-color: #333A44;

    &__container{
        display: flex;
        align-items: center;
    }

    &__logo--img{
        flex-shrink: 0;
    }

    &__logo{
        flex-shrink: 0;
        margin-right: 58px;
    }

    &__logo:hover{
        opacity: 0.6;
    }
    
    &__list{
        padding: 0;
        display: flex;
        list-style: none;
        margin: 0 -15px;
    }

    &__item{
        margin: 0 15px;
    }

    &__link{
        margin: 0;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }

    &__link:hover{
        color: #FCB72B;
    }


    &__lists{
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0 -12px;
        margin-left: auto;
    }

    &__items{
        margin: 0 12px;
    }

    &__links{
        text-decoration: none;
        color:  #FCB72B;
    }

    &__links:hover path{
        fill: #E5ECF4;
    }
}

@media only screen and (max-width: 581px){
    .footer2{
        padding-top: 64px;
        padding-bottom: 88px;

        &__container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__logo{
            margin: 0;
            margin-bottom: 41px;
        }

        &__list{
            margin: 0;
            margin-bottom: 87px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__item:nth-child(even){
            margin-top: 16px;
            margin-bottom: 16px;
        }

        &__lists{
            margin: 0;
        }
    }
}

