.header{
    &__container{
        padding-top: 22px;
        padding-bottom: 21px;
        display: flex;
        align-items: center;
    }

    &__logo{
        flex-shrink: 0;
        text-decoration: none;
    }

    &__logo--img{
        flex-shrink: 0;
        display: block;
    }

    &__navbar{
        width: 100%;
        max-width: 940px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 58px;
    }

    .hamburger-menu{
        padding: 0;
        margin-left: 0;
        display: none;
    }

    &__list{
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0 -16px;
    }

    &__item{
        margin: 0 16px;
    }

    &__nav--link{
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }  
}

// .header{
//     position: relative;
//     top: 0;
//     left: 0;
// }

// .hamburger-link{
//     border: none;
//     width: 40px;
//     height: 40px;
//     background-color: #fff;
//     display: inline-block;
// }

// .header-navbar{
//     display: none;
// }

// .header--open .header-navbar{
//     padding-top: 40px;
//     padding-bottom: 377px;
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     min-height: 577px;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     background: linear-gradient(180deg, #FEFCF7 55.94%  0%, rgba(254, 252, 247, 0.504981) );
// }    

// .header--open .header-nav-list{
//     padding: 0;
//     display: flex;
//     flex-direction: column;
// }

// .header--open .header-nav-list .header-nav-item{
//     margin-bottom: 32px;
// }

// .header--open .header-nav-list .header-nav-item a{
//     margin-bottom: 32px;
//     font-family: Fraunces 9pt;
//     font-weight: 900;
//     font-size: 24px;
//     line-height: 32px;
//     color: #333D4B;
// }

@media only screen and (max-width: 633px){
    .header{
        position: relative;
        top: 0;
        left: 0;

        .header--open &__navbar{
            margin: 0;
            width: 70vw;
            height: 100vh;
            background-color: blueviolet;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 100%;
            left: 0;
        }


        &__container{
            padding-top: 22px;
            padding-left: 22px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .hamburger-menu{
            vertical-align: middle;
            margin-left: 0;
            border: none;
            background-color: #fff;
            display: inline-block;
        }

        &__logo{
            margin-right: 19px;
            margin: 0 auto;
        }

        &__navbar{
            display: none;
        }
    }
}


