.header{
    &__container{
        padding-top: 22px;
        padding-bottom: 21px;
        display: flex;
        align-items: center;
    }

    &__logo{
        flex-shrink: 0;
        text-decoration: none;
    }

    &__logo:hover{
        opacity: 0.6;
    }

    &__logo--img{
        flex-shrink: 0;
        display: block;
    }

    &__navbar{
        width: 100%;
        max-width: 940px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 58px;
    }

    .hamburger-menu{
        padding: 0;
        margin-left: 0;
        display: none;
    }

    &__list{
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0 -16px;
    }

    &__item{
        margin: 0 16px;
    }

    &__nav--link{
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }  

    &__nav--link:hover{
        color: #FCB72B;
    }
}

@media only screen and (max-width: 633px){
    .header{
        position: relative;
        top: 0;
        left: 0;

        
        .header--open .hamburger-menu {
            display: block;
            background-image: url("../img/Group.svg");
        }

        .header--open .hamburger-img{
            display: none;
        }

        .header--open &__navbar{
            margin: 0;
            padding-top: 64px;
            margin-bottom: 24px;
            background-color: #333A44;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            position: absolute;
            top: 100%;
            left: 0;
        }

        .header--open &__list{
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .header--open &__nav--link{
            font-size: 18px;
            line-height: 25px;
            color: #E5ECF4;
        }

        .header--open &__item:not(:last-child){
            margin-bottom: 24px;
        }


        &__container{
            padding-top: 22px;
            padding-left: 22px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .hamburger-menu{
            vertical-align: middle;
            margin-left: 0;
            border: none;
            background-color: #fff;
            display: inline-block;
        }

        &__logo{
            margin-right: 19px;
            margin: 0 auto;
        }

        &__navbar{
            width: 70vw;
            min-height: 100vh;
            display: none;
        }


        .btn-4{
          margin-bottom: 200px;  
        }
    }
}


