.header{
    &__container{
        padding-top: 22px;
        padding-bottom: 21px;
        display: flex;
        align-items: center;
    }

    &__logo{
        flex-shrink: 0;
        text-decoration: none;
    }

    &__logo--img{
        flex-shrink: 0;
        display: block;
    }

    &__navbar{
        width: 100%;
        max-width: 940px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 58px;
    }

    .hamburger-menu{
        margin-left: 0;
        display: none;
    }

    &__list{
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0 -16px;
    }

    &__item{
        margin: 0 16px;
    }

    &__nav--link{
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }  
}

@media only screen and (max-width: 633px){
    .header{
        &__container{
            padding-top: 22px;
            padding-left: 22px;
        }

        .hamburger-menu{
            vertical-align: middle;
            margin-left: auto;
            border: none;
            background-color: #fff;
            display: inline-block;
        }

        &__navbar{
            display: none;
        }
    }
}


@media only screen and (max-width: 376px){
    .header{
        &__container{
            padding-top: 22px;
            padding-bottom: 22px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .hamburger-menu{
            margin-left: 0;
        }

        &__logo{
            display: inline-block;
            margin: 0 auto;
            // margin-right: 98px;
        }
       
    }
}

