.services{
    margin-bottom: 200px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
    background-position: 0 40px;
    background-size: 974px 14px;

    &__list{
        display: flex;
        align-items: flex-start;
        padding: 0;
        list-style: none;
        margin: 0 -15px;
    }

    &__item{
        margin: 0 15px;
        display: flex;
        flex-direction: column;
    }

    &__img{
        margin-bottom: 40px;
        // width: 100%;
        max-width: 96px;
        min-height: 96px;
    }

    &__heading{
        margin: 0;
        margin-bottom: 27px;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    &__desc{
        max-width: 350px;
        min-height: 100px;
        margin: 0;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
}

@media only screen and (max-width: 768px){
    .services{
        margin-bottom: 145px;

        &__container{
            display: flex;
            justify-content: center;
        }

        &__list{
            display: flex;
            flex-direction: column;
            padding: 0;
            padding: 0 20px;
            list-style: none;
        }
    
        &__item{
            margin: 0;
            display: flex;
            flex-direction: row;

            .box{
                max-width: 398px;
                min-height: 75px;
            }
        }

        &__item:not(:last-child){
            margin-bottom: 40px;
        }

        
        &__img{
            margin: 0;
            margin-right: 79px;
            width: 96px;
            height: 96px;
        }

        &__desc{
            max-width: 398px;
            min-height: 75px;
        }
    } 
}


@media only screen and (max-width: 445px){
    .services{
        margin-bottom: 120px;
        &__list{
            display: flex;
            flex-direction: column;
            padding: 0;
            padding: 0 20px;
            list-style: none;
        }
    
        &__item{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__item:not(:last-child){
            margin-bottom: 48px;
        }
    
        &__img{
            margin-right: 0;
            margin-bottom: 24px;
        }

        &__heading{
            text-align: center;
            margin-bottom: 24px;
        }

        &__desc{
            text-align: center;
        }
    }
}
    